<!--The content below is only a placeholder and can be replaced.-->
<app-header-bar></app-header-bar>
<app-main-category></app-main-category>
<app-side-nav-section></app-side-nav-section>
<!-- <app-main-section></app-main-section> -->
<router-outlet></router-outlet>