<div id="main-category">
  <div class="container-full">
    <div class="row">
      <div class="col-md-12">
        <ul class="main-category-menu">
          <li class="{{menuConfig.class}}" *ngFor="let menuConfig of menuConfigs">
            <a href="02-category.html">
              <i class="{{menuConfig.subclass}}"></i>{{menuConfig.menuname}}</a>
            <ul *ngIf="menuConfig.subMenuConfigs && menuConfig.subMenuConfigs.length>0">
              <li *ngFor="let subMenuConfig of menuConfig.subMenuConfigs">
                <a href="01-home.html">{{subMenuConfig.menuname}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- // col-md-14 -->
    </div>
    <!-- // row -->
  </div>
  <!-- // container-full -->
</div>
<!-- // main-category -->