<div class="col-md-2 no-padding-left hidden-sm hidden-xs">
  <div class="left-sidebar">
    <div id="sidebar-stick">
      <ul class="menu-sidebar">
        <li>
          <a routerLink="/livevideo">
            <i class="fa fa-home"></i>Home</a>
        </li>
        <li>
          <a routerLink="/livevideo">
            <i class="fa fa-bolt"></i>Trending</a>
        </li>
        <li>
          <a >
            <i class="fa fa-clock-o"></i>History</a>
        </li>
        <li>
          <a >
            <i class="fa fa-file-text"></i>blog</a>
        </li>
        <li>
          <a >
            <i class="fa fa-upload"></i>upload</a>
        </li>
      </ul>
      <ul class="menu-sidebar">
        <li>
          <a >
            <i class="fa fa-edit"></i>edit profile</a>
        </li>
        <li>
          <a >
            <i class="fa fa-sign-out"></i>sing out</a>
        </li>
      </ul>
      <ul class="menu-sidebar">
        <li>
          <a >
            <i class="fa fa-gear"></i>Settings</a>
        </li>
        <li>
          <a >
            <i class="fa fa-question-circle"></i>Help</a>
        </li>
        <li>
          <a >
            <i class="fa fa-send-o"></i>Send feedback</a>
        </li>
      </ul>
    </div>
    <!-- // sidebar-stick -->
    <div class="clear"></div>
  </div>
  <!-- // left-sidebar -->
</div>
<!-- // col-md-2 -->