<div id="all-output" class="col-md-10">
  <h1 class="new-video-title">
    <i class="fa fa-bolt"></i> Trending</h1>
  <div class="row">

    <!-- video-item -->
    <div class="col-lg-3 col-md-3 col-sm-6" *ngFor="let videolist of socialusers;">
      <div class="video-item" [routerLink]="['/watch',videolist.id]" style="width:233px;height:320px">
        <div class="thumb">
          <div class="hover-efect"></div>
          <!-- <small class="time">12.10</small> -->
          <a>
            <img src={{videolist.imageURL}} alt="" style="width:233px;height:150px">
          </a>
        </div>
        <div class="video-info">
          <a class="title"> {{videolist.title | slice:0:30}}..</a>
          <a class="channel-name">Rabie Elkheir
            <span>
              <i class="fa fa-check-circle"></i>
            </span>
          </a>
          <span class="views">
            <i class="fa fa-eye"></i>2.8M Watching </span>
          <span class="date">
            <i class="fa fa-clock-o"></i>1 Days ago </span>
        </div>
      </div>
    </div>
    <!-- // video-item -->
  </div>
  <!-- Loading More Videos -->
  <!-- <div id="loading-more">
    <i class="fa fa-refresh faa-spin animated"></i>
    <span>Loading more</span>
  </div> -->
  <!-- // Loading More Videos -->

</div>